<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="flexi">
        <button class="menu"><a href="/">accueil</a></button>
        <button class="menu"><a href="/secure">espace membre</a></button>
        <button class="menu"><a href="/clearcookie">se déconnecter</a></button>
    </div>
    
    <div class="container">
        <p>Vous êtes sur l'espace sécurisé.</p>
    </div>
</body>
</html>